@import "tailwindcss";

@layer base {
  html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background-color: #FFFBF7; 
  }
}



.container {

background-color: white;
display: flex;
align-items: center;
justify-content: center;
position: relative;
overflow: hidden;

}
.container-after {

background-color: white;
display: flex;
align-items: center;
justify-content: center;
position: relative;
overflow: hidden;

}
.button-after {
background-color: rgb(14, 68, 101);
top: 2;
display: flex;
align-items: center;
justify-content: end;

flex-wrap: wrap;
width: 50%;
max-width: 33px;
margin: auto;
height: 45%;
border-radius: 200px;
cursor: pointer;
position: absolute;
transition: 0.9s;
overflow: hidden;
 box-shadow: 0 2px 6px rgba(199, 182, 182, 0.17);
}
.button-after::before{
    position: absolute;
    content: '';
   
    background-color: rgb(250, 252, 254);
    width: 13px;
    height: 15px;
    border-radius: 200px;
    margin: 4px;
   
}

.button {
background-color: rgb(180, 212, 233);
top: 2;
display: flex;
align-items: center;

flex-wrap: wrap;
width: 50%;
max-width: 33px;
margin: auto;
height: 45%;
border-radius: 200px;
cursor: pointer;
position: absolute;
transition: 0.2s;
overflow: hidden;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
}

.button::before{
    position: absolute;
    content: '';
   
    background-color: rgb(250, 252, 254);
    width: 13px;
    height: 15px;
    border-radius: 200px;
    margin: 4px;
    
}

.inpt{
    display: none;
}


.card {
  
   display: inline-block;
        opacity: 0;
        transform: translateY(-40px)
        ;
        animation: slideDown 2s 
        cubic-bezier(0.22, 1, 0.36, 1) forwards;
        
  
  
}

@keyframes slideDown {
        to {
            opacity: 1;
            transform: translateY(0);
        }
       }

 .nav-simple {
 font-weight: 600;
  will-change: transform;
  transition: transform 1.5 ease;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
 }

 .nav-simple:hover {
   cursor: pointer;
    transform: translateY(-5px) scale(1.05);
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.429);

 }

.btn-simple {
  display: inline-block;
  background: rgb(110, 194, 244);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  will-change: transform;
  transition: transform 1.5 ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);

   
        
}
.btn-simple:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.429);
}


.btn-ghost {
  display: inline-block;
 
  background-color: #FFFBF7;
  padding: 8px 12px;
  border-radius: 6px;
  color: #333;
  will-change: transform;
  transition: transform 1.5 ease;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.129);
}

.btn-ghost:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.429);
}

.skills:hover {
  display: inline-block;
  will-change: transform;
  transition: transform 0.3s ease;
  transform: translate(0px, -6px) scale(1.1);
}



.shadow-sm { box-shadow: 0 2px 6px rgba(0,0,0,0.06); }

